<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @post.slug %>
</p>

<p>
  <strong>File:</strong>
  <%= @post.file %>
</p>

<p>
  <strong>Text md:</strong>
  <%= @post.text_md %>
</p>

<p>
  <strong>Text html:</strong>
  <%= @post.text_html %>
</p>

<p>
  <strong>User:</strong>
  <%= @post.user %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
