<!DOCTYPE html>
<html>
  <head>
    <title>MarkdownBlog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div id="wrapper">
      <%= render "layouts/bars/top" %>

      <div class="content-page">
        <!-- Start content -->
        <div class="content">
          <div class="container" style="margin-botton: 0px;">
            <div style="margin-top: 40px">
              <%= render "layouts/flash" %>
            </div>
            <%= yield %>
          </div>
        </div>
      </div>

  </div>

  </body>
</html>
